/*主体盒子*/
.jd_layout{
    width:100%;
    /*设计图的原因，不然它会放大*/
    max-width:640px;
    /*为了更好的布局*/
    min-width:300px;
    margin:0 auto;
    background: #f5f5f5;
    height:1000px;
    position: relative;
}
/*头部logo和搜索框*/
.header{
    width:100%;
    height:40px;
    line-height: 40px;
    padding-top:10px;
    position: fixed;
    left: 0;
    top:0;
    z-index: 9999;
}
.header_box{
    width:100%;
    max-width:640px;
    min-width:300px;
    margin:0 auto;
    height: 40px;
    padding:0 15px;
    position: relative;
}
.scroll_header{
    background: rgb(201,21,35);
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.header .logo{
    width:40px;
    height:40px;
    margin-top: 0;
    position: absolute;
    left:10px;
    top:0;
}
.header .logo img{
    width:100%;
    height:26px;
    margin-top:8px;
}
.header .form{
    width:100%;
    height:40px;
    padding:0 50px;
}
.header .form .search{
    width:30px;
    height:16px;
    position: absolute;
    left:70px;
    top:12px;
    background: url('../images/search.png') 8px center no-repeat;
    background-size: 20px;
}
.header .form input{
    width:100%;
    height:30px;
    text-indent: 40px;
    background: #fff;
    border-radius: 20px;
}
.header  a.login{
    width:50px;
    height:40px;
    line-height:40px;
    text-align: center;
    color:#fff;
    text-decoration: none;
    position: absolute;
    right:0;
    top:0;
}
/*轮播图*/
.banner .swiper-wrapper .swiper-slide{
    font-size:0;
}
.banner .swiper-wrapper .swiper-slide img{
    width:100%;
/*
    解决图片下方4个像素的下边距，即图片高度比父元素高度少4个像素
    第一种方法：分别包裹img标签的元素和img标签加display:block
    第二种方法：给父元素加font-size:0;
    第三种方法：给img标签加vertical-align:middle;
*/
    display: block;
    vertical-align: middle;
}
.swiper-pagination-bullet{
    width:10px;
    height:10px;
    border:2px solid #fff;
    background: none;
}
.swiper-pagination-bullet-active{
    background: #fff;
}
/*分类列表*/
.list{
    padding:2% 5%;
    background: #fff;
}
.list ul{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
}
.list ul li{
    width:25%;
}
.list ul li a,.list ul li span{
    display: block;
    text-align: center;
}
.list ul li img{
    width: 40px;
    height:40px;
    display:block;
    margin:0 auto;
}
.list ul li span{
    font-size:12px;
    padding:6px 0;
}
/*商品秒杀列表*/
.goods{
    margin-top:15px;
    background:#fff;
    border:1px solid #ccc;
}
.goods_title{
    height:36px;
    line-height: 36px;
    padding:0 10px;
}
.goods_title h3{
    width: 60%;
    height:36px;
}
.goods_title h3 img{
    width: 40%;
    height:36px;
}
.goods_title h3 .left_time{
    margin-left:15px;
}
.goods_title h3 .left_time b{
    background: #000;
    color:#fff;
    padding:2px 5px;
}
strong{
    width: 12px;
    display: inline-block;
    text-align: center;
}
.goods_item ul li{
    width:33.333%;
}
.goods_item ul li a{
    padding-left:12%;
    padding-right:12%;
}
.goods_item ul li:nth-child(2) a{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.goods_item ul li a{
    display: block;
}
.goods_item ul li img{
    width:100%;
}
.goods_item ul li span{
    display: block;
    text-align: center;
    margin-top:5px;
}
.goods_item ul li span.now{
   color:red;
}
.goods_item ul li span.old{
    text-decoration: line-through;
    color:#ccc;
}